name: Check for Upstream Updates and Send Email

on:
  schedule:
    - cron: '0 10 * * 0'  # 每周天下午18点中国时间运行
  workflow_dispatch:  # 手动触发

jobs:
  check-updates:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 1  # 只拉取最新的提交

      - name: Set Upstream Repository if not exists
        run: |
          git remote | grep upstream || git remote add upstream https://github.com/hehonghui/awesome-english-ebooks.git
          git fetch upstream

      - name: Check for New Commits
        id: check_updates
        run: |
          NEW_COMMITS=$(git rev-list HEAD..upstream/master --count)
          echo "::set-output name=new_commits::$NEW_COMMITS"

      - name: Configure Git Identity
        run: |
          git config --global user.email ${{ secrets.GIT_EMAIL }}  # 设置提交者邮箱
          git config --global user.name ${{ secrets.GIT_NAME }} # 设置提交者名称

      - name: Sync with Upstream
        if: steps.check_updates.outputs.new_commits != '0'
        run: |
          set -e  # 遇到错误时停止执行
          git merge upstream/master --allow-unrelated-histories --strategy-option theirs || (echo "Merge failed, rolling back" && git merge --abort)
          git push origin master

      - name: Send Email if Updates Found
        if: steps.check_updates.outputs.new_commits != '0'
        uses: devellany/send-mail@v1.0.2
        with:
          host: 'smtp.qq.com'  # qq邮箱主机
          port: 465  # SMTP 端口，通常为465或587
          account: ${{ secrets.EMAIL }}  # 邮箱地址，使用GitHub Secrets管理
          password: ${{ secrets.APP_PASSWORD }}  # 邮箱密码或应用密码，使用GitHub Secrets
          sender: GITHUB  # 发件人的名字
          from: ${{ secrets.EMAIL }}  # 发件人的邮箱地址
          to: ${{ secrets.TARGET_EMAIL }}  # 收件人的邮箱地址，可以用逗号分隔多个邮箱
          subject: "Repository Updates"  # 邮件主题
          body: "Found ${{ steps.check_updates.outputs.new_commits }} new updates in the repository."  # 邮件正文，包含更新的提交数量
